<html>
<head>
<link rel="stylesheet" href="css/stylesheet.css"></link>
</head>

<body>
<h1>Add New Post</h1>
  <div id="postwindow">
  <form action='/add-new-post' method="POST">
  <hr>
    <h5>Your Blog Post Title</h5>
    <input type="text" name="title" placeholder="title" />
    <h5>Add Category</h5>
    <input type="text" name="category" placeholder="sample category"/><br>
    <h5>Add Your Post below</h5>
    <textarea name="body" placeholder="Start wrting your post"></textarea><br>
    <br>
    <button type="submit">Save</button>
  <hr>
  </form>
  </div>
</body>
</html>
